.board {
  display: flex;
  justify-content: center;
  width: 100%;
}

.board table {
  border-spacing: 0px;
  border-collapse: separate;
}

.board tr {
  margin: 0px;
  padding: 0px;
}

.board td {
  height: 200px;
  width: 200px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 80pt;
} 

.board td:hover {
  cursor: pointer;
  background-color: rgba(177, 207, 197, 0.247);
}

.board .first-row td:first-child {
  border-right: 5px solid whitesmoke;
  border-bottom: 5px solid whitesmoke;
}

.board .first-row td:nth-child(2){
  border-bottom: 5px solid whitesmoke;
}

.board .first-row td:nth-child(3){
  border-bottom: 5px solid whitesmoke;
  border-left: 5px solid whitesmoke;
}

.board .second-row td:first-child {
  border-right: 5px solid whitesmoke;
  border-bottom: 5px solid whitesmoke;
}

.board .second-row td:nth-child(2){
  border-bottom: 5px solid whitesmoke;
}

.board .second-row td:nth-child(3){
  border-bottom: 5px solid whitesmoke;
  border-left: 5px solid whitesmoke;
}

.board .third-row td:first-child {
  border-right: 5px solid whitesmoke;
}

.board .third-row td:nth-child(3){
  border-left: 5px solid whitesmoke;
}


.blue {
  color: blue;
}

.red {
  color: red;
}