.nav {
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.nav button {
  margin: 0px 2px;
  padding: 25px 170px;
  border: none;
  background-color: rgba(66, 66, 66, 0.212);
  color: rgb(153, 153, 153);
}

.nav button:hover {
  background-color: rgba(66, 66, 66, 0.729);
  color: white;
  cursor: pointer;
}

.replay-btn {
  position: absolute;
  padding: 20.82% 13.7%;
  background-color: rgba(66, 66, 66, 0.637);
  color: white;
  font-size: 50pt;
}

.replay-btn:hover {
  background-color: rgba(66, 66, 66, 0.892);
  cursor: pointer;
}

.hide {
  display: none;
}

.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  align-items: center;
}

.start-screen input {
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.282);
  color: white;
  font-weight: bold;
  font-size: 21pt;
}

.start-screen button {
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.597);
  cursor: pointer;
  color: white;
}

.start-screen button:hover {
  background-color: rgba(255, 255, 255, 0.765);
  font-weight: bold;
}

.start-screen label {
  font-size: 20pt;
}

.active {
  color: white;
}

.player {
  display: flex;
  flex-direction: column;
}

.score {
  text-align: center;
  font-size: 25pt !important;
}

.info {
  color:rgb(66, 66, 66);
  display: flex;
  gap: 200px;
  margin-top: 70px;
}

.info div {
  font-size: 18pt;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.board table {
  border-spacing: 0px;
  border-collapse: separate;
}

.board tr {
  margin: 0px;
  padding: 0px;
}

.board td {
  height: 200px;
  width: 200px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 80pt;
} 

.board td:hover {
  cursor: pointer;
  background-color: rgba(177, 207, 197, 0.247);
}

.board .first-row td:first-child {
  border-right: 5px solid whitesmoke;
  border-bottom: 5px solid whitesmoke;
}

.board .first-row td:nth-child(2){
  border-bottom: 5px solid whitesmoke;
}

.board .first-row td:nth-child(3){
  border-bottom: 5px solid whitesmoke;
  border-left: 5px solid whitesmoke;
}

.board .second-row td:first-child {
  border-right: 5px solid whitesmoke;
  border-bottom: 5px solid whitesmoke;
}

.board .second-row td:nth-child(2){
  border-bottom: 5px solid whitesmoke;
}

.board .second-row td:nth-child(3){
  border-bottom: 5px solid whitesmoke;
  border-left: 5px solid whitesmoke;
}

.board .third-row td:first-child {
  border-right: 5px solid whitesmoke;
}

.board .third-row td:nth-child(3){
  border-left: 5px solid whitesmoke;
}


.blue {
  color: blue;
}

.red {
  color: red;
}